/Teacher/target/
/ReturningMethod/target/
/StaticKeyword/target/
/Problems/target/
/OverloadingMethod/target/
/Recursion/target/
/Encapsulation/target/
/Inheritance/target/
/MethodOveriding/target/
/SuperKeyword/target/
/ThisKeyword/target/
/FinalKeyword/target/
/PolymorrPhism/target/
/AbstractPlay/target/
/PlayWithInterface/target/
/Modifiers/target/
/Typercasting/target/
/ExceptionHandeling/target/
/LinkList/target/
/HashMap/target/
/PlayWithFile/target/
